.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );;
}
.hero{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    color: black;
}
.logo{
    color: white;
    font-size: 30px;
}
span{
    color: gold;
}
nav ul li{
    list list-style-type: none;
display: inline-block;
padding: 10px 20px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: greenyellow;
    transition: 1s;
    cursor: pointer;
}
.me{
    position:relative;
    top:30%
    top: 30%
    transformation:translate(-50%)
}
h1{
   color: greenyellow; 
   font-size: 75px;
   margin:20px 0px 20px; 
}
h3{
    color: white;
    font-size:25px;
    margin-bottom:50px;
}
h4{
    letter-spacing:2px;
    font-size: 20px;
    color: greenyellow;
}
.skills{
    width: 10%;
    padding: 10px 0px;
}
.title h2{
    colour:greenyellow;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.card box{
    display: flex;
    justify-content: center;
    align-items: center;
    main height: 40px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: white;
    border: 1px solid #;
    -webkit-backdrop-filter: blur(10px);                          
}
.card i{
    font-size: 50px !important;
    display: block !;
    text-align: center !important;
    margin: 25px opx;
    color: greenyellow
}
h5{
    font-size: 20px;
    font-weight: bold !important;
    text-align: center;
    margin-bottom: 15px;
}
.web p{
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card.button{
    color: beige;
    background-color: greenyellow;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 30px 20px;
    transition: 4ms;
}
.card.button:hover{
    color: white;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    border; 3px solid gray;
}
.href{
    align-items: center;
    font-style: italic;
}